source https://nuget.org/api/v2
storage:none

nuget FSharp.Core redirects: force
nuget Fable.Core
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR
nuget Fulma
nuget Fulma.Extensions

clitool dotnet-fable

group Build
  source https://nuget.org/api/v2
  framework >= net461
  nuget FAKE