version 5.215.0

group build

    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.Environment
    nuget Fake.Core.Target
    nuget Fake.Core.Trace
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Tools.Git

group ui

	source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
	storage:none

    nuget Fable.Core prerelease
    nuget Fable.Elmish prerelease
	nuget Fable.Elmish.Browser prerelease
    nuget Fable.Elmish.Debugger prerelease
    nuget Fable.Elmish.HMR prerelease
    nuget Fable.Elmish.React prerelease
    nuget Fable.FontAwesome.Free prerelease
    nuget Fable.React
    nuget Fulma prerelease
	nuget Fulma.Extensions.Wikiki.PageLoader prerelease
	nuget Fulma.Extensions.Wikiki.Tooltip prerelease
	nuget Thoth.Json prerelease
