group ui

	source https://api.nuget.org/v3/index.json
	storage:none

	nuget FSharp.Core redirects: force
	nuget Fable.Core
	nuget Fable.Elmish.Browser
	nuget Fable.Elmish.Debugger
	nuget Fable.Elmish.React
	nuget Fable.Elmish.HMR
	nuget Fulma
	nuget Fulma.Extensions

	clitool dotnet-fable

group build

	source https://api.nuget.org/v3/index.json

	nuget FAKE
