/* Note: Some --colour variables correspond to $colour/s defined in ..\sass\custom-bulma.sass (e.g. --dark corresponds to $dark); others do not. */
:root { 
    --dark : #4c4c4c ; --darker : #393939 ; --even-darker : #262626 ; --darkest : #131313 ;
    --light : #b3b3b3 ; --lighter : #c6c6c6 ; --even-lighter : #d9d9d9 ; --lightest : #ececec ;
    --link-default : #600060 ; --link-default-hover : #a000a0 ; --link-dark : #ffbfbf ; --link-dark-hover : #ff8f8f }

html { height : 100% ; margin : 0px }
 
body { min-height : 100% ; margin : 0px }
body.default { background-color : white }
body.dark { background-color : black }

.default { color : var(--darker) }
.default-alternative { color : var(--even-darker) ; background-color : var(--light) }
.dark { color : var(--lighter) }
.dark-alternative { color : var(--even-lighter) ; background-color : var(--dark) }

a.default { color : var(--link-default) }
a.default:hover { color : var(--link-default-hover) }
a.dark { color : var(--link-dark) }
a.dark:hover { color : var(--link-dark-hover) }

hr { margin-top : 0.75rem ; margin-bottom : 0.75rem }
hr.default { background-color : var(--light) }
hr.dark { background-color : var(--dark) }

/* Note: Icon color/s only seem to take effect when control does not have focus. */
.default .control.has-icons-left .icon, .default control.has-icons-right .icon { color : var(--lighter) }
.dark .control.has-icons-left .icon, .dark control.has-icons-right .icon { color : var(--darker) }

/* Note: Needed to prevent use of background-color/s defined for .footer (&c.) by Bulma. */
.footer.default, .input.default, .table.default { background-color : white }
.footer.dark, .input.dark, .table.dark { background-color : black }
/* Note: Needed to prevent use of color/s defined for .table thead td (&c.) by Bulma. */
.table.default thead td { color : var(--darker) }
.table.dark thead td { color : var(--lighter) }

.footer { padding-top : 0.5rem ; padding-left : 0.5rem ; padding-bottom : 0.5rem ; padding-right : 0.5rem }

.level:not(:last-child) { margin-bottom : 1.0rem }
.level.hasContinuation:not(:last-child) { margin-bottom : 0.5rem }

.media+.media.default { border-top-color : var(--light) }
.media+.media.dark { border-top-color : var(--dark) }

.media-content { overflow: hidden }

.navbar-dropdown { border-top-width : 0px }
.navbar-dropdown.default { background-color : var(--lighter) }
.navbar-dropdown.dark { background-color : var(--darker) }

.navbar-item { padding-left : 0.5rem ; padding-right : 0.5rem }
.navbar-item.default.is-active a { color : var(--link-default-hover) }
.navbar-item.dark.is-active a { color : var(--link-dark-hover) }

.navbar-menu.light { background-color : var(--light) }
.navbar-menu.dark { background-color : var(--dark) }

.notification:not(:last-child) { margin-bottom : 0.0rem }

.table { margin-bottom : 0.75rem }
.table.default td { border-bottom-color : var(--even-lighter) }
.table.default tr:hover { background-color : var(--lightest) } 
.table.dark td { border-bottom-color : var(--even-darker) }
.table.dark tr:hover { background-color : var(--darkest) }

.tabs.default a { color : var(--link-default) ; border-bottom-color : var(--even-lighter) }
.tabs.default a:hover { color : var(--link-default-hover) ; border-bottom-color : var(--link-default-hover)0 }
.tabs.default li.is-active a { color : var(--link-default-hover) ; border-bottom-color : var(--darker) }
.tabs.dark a { color : var(--link-dark) ; border-bottom-color : var(--even-darker) }
.tabs.dark a:hover { color : var(--link-dark-hover) ; border-bottom-color : var(--link-dark-hover) }
.tabs.dark li.is-active a { color : var(--link-dark-hover); border-bottom-color : var(--lighter) }
